<navbar currentPage="COMPONENTES" />

<div class="container-fluid d-flex justify-content-center p-3">
   <div class="w-75 h-100">
      <div class="content-header mb-5 border-bottom">
         <h3 class="fw-bold pb-1"> Componentes utilizados nos projetos V6 </h3>
         <p class="fs-5">Documentação de usos, exemplos e explicações sobre os componentes que devem ser utilizados na V6</p>
      </div>

      <!-- #region CONTEUDO - TODO: Trocarei para JSON quando estiver pronto -->
      <div class="d-flex flex-row flex-wrap gap-4 justify-content-center">
         <a *ngFor="let card of components" class="card col-3 text-decoration-none cursor-pointer" [routerLink]="card.rota" routerLinkActive="router-link-active" >
            <div class="card-header fw-bold fs-6 d-flex align-items-center"> {{ card.nome }} </div>
            <div class="card-body">
              <p class="card-text"> {{ card.descricao }} </p>
            </div>
          </a>
      </div>
      <!-- #endregion CONTEUDO - TODO: Trocarei para JSON quando estiver pronto -->
   </div>
</div>

<!-- <router-outlet></router-outlet> -->
