<nav class="navbar bg-dark-blue" data-bs-theme="dark">
   <div class="container-fluid d-flex align-items-center justify-content-between">
      <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral" aria-controls="menuLateral" aria-label="Abrir menu lateral">
        <lib-icon iconName="menu-hamburguer" iconColor="white" />
      </button>

      <img src="assets/icons/logotipo-sispro.svg" alt="logo-sispro" class="offcanvas-title cursor-pointer" id="offcanvasNavbarLabel"
         title="logo" height="36px" [routerLink]="['/inicio']" routerLinkActive="router-link-active" />

      <span class="text-white"> {{ currentPage ? currentPage : "PADRÕES E DOCUMENTAÇÕES DE CÓDIGO" }} </span>
   </div>
</nav>

<side-menu #menuLateral></side-menu>