<navbar />

@if (currentRoute.includes("inicio")) {
   <router-outlet />
}
@else {
   <div class="p-3 d-flex flex-row">
      <div class="col-2">
         <div class="sticky-top">
            <ul class="p-3  d-flex flex-column">
               @for (item of menu; track $index; let isFirst = $first) {
                  <li [class.mt-3]="!isFirst">
                     <span class="fw-bold text-decoration-none text-primary">
                        <span [innerHTML]="item.icon"></span>
                        {{ item.name }}
                     </span>
      
                     <ul class="d-flex flex-column">
                        @for (subItem of item.children; track $index) {
                           <a class="text-decoration-none text-dark" [class.is-selected]="currentRoute.includes(subItem.route)"
                              [routerLink]="subItem.route" routerLinkActive="router-link-active" > {{ subItem.name }} </a>
                        }
                     </ul>
                  </li>
               }
            </ul>
         </div>
      </div>
   
      <div class="col-8">
         <router-outlet />
      </div>
   </div>
}
