@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/maps";


.alert-indigo {
   background-color: $indigo-100;
   border-color: $indigo-200;
   color: $indigo-900;
}

.text-gray-600 {
   color: $gray-600;
}