.bg-dark-blue { background-color: #213b70 !important; }

.cursor-pointer { cursor: pointer !important; }

code.text-code {
   background-color: #213b7026 !important;
   padding: 4px !important;
   border-radius: 4px !important;
}

.code-example { margin-bottom: 16px !important; }
