<navbar currentPage="CARDS" />

<div class="container-fluid d-flex justify-content-center p-3">
   <div class="w-75 h-100">
      <div class="content-header mb-5 border-bottom">
         <h3 class="fw-bold pb-1"> <lib-icon class="cursor-pointer" iconName="seta-esquerda" (click)="utilsService.back()" /> CARDS </h3>
         <p class="fs-5">Documentação de uso, exemplos e explicações sobre o componente de cards que deve ser utilizado na V6</p>
      </div>

      <!-- #region CONTEUDO - TODO: Trocarei para JSON quando estiver pronto -->
      
      <!-- #endregion CONTEUDO - TODO: Trocarei para JSON quando estiver pronto -->
   </div>
</div>

<!-- <router-outlet></router-outlet> -->
