<div class="d-flex justify-content-center p-3">
   <div class="h-100">
      <div class="content-header mb-5 border-bottom">
         <h3 class="fw-bold"> ÍCONES </h3>
         <p class="fs-5">Documentação e exemplos de uso dos ícones desenvolvidos pelo Núcleo de Design que devem ser utilizados nos projetos V6</p>
         <version-tags />
      </div>

      <!-- #region CONTEÚDO - TODO: Trocar para JSON quando estiver pronto -->

      

      <!-- #region COMO FUNCIONA -->
      <div class="content mb-5">
         <h5 class="fw-bold">COMO FUNCIONA?</h5>

         <span><b>{{"@Input"}}</b> Lista de parâmetros:</span>
         <ul>
            <li class="my-2"><code class="text-code">iconName: string</code> (obrigatório) - Nome do ícone que será renderizado (consulta a lista abaixo ou o Figma para os nomes).</li>
            <li class="my-2"><code class="text-code">iconColor: 'white' | 'blue' | 'gray' | 'light-gray' | 'green' | 'light-blue' | 'yellow' | 'red' | 'currentColor' | string</code> - Cor do ícone. Utilizará um dos temas informados, aceita também a cor em hexadecimal, se nenhuma for informada por padrão utilizará a "currentColor".</li>
            <li class="my-2"><code class="text-code">iconSize: 'default' | 'medium-small' | 'small' | number</code> - Tamanho do ícone que será renderizado. Se não informado assumirá o valor "default".</li>

            <li class="my-2"><code class="text-code">iconFill: boolean</code> - Informa se o ícone deve ser preenchido ou não com a cor do seu contorno.</li>
         </ul>
      </div>
      <!-- #endregion COMO FUNCIONA -->

      <!-- #region AVISOS -->
      <div class="alert alert-warning mb-5" role="alert">
         <p class="fw-bold">AVISOS</p>
         <ul>
            <li>A propriedade <code class="text-code">iconFill</code> é utilizada em pouquíssimos ícones até o momento, um dos exemplos mais evidentes é o ícone de 'estrela'. Utilizá-la em outros ícones que não fornecem esta possibilidade não resultará em efeito nenhum.</li>
         </ul>
      </div>
      <!-- #endregion AVISOS -->

      <!-- #region LISTA DE ÍCONES -->
      <div class="content mb-5">
         <h5 class="fw-bold mb-3">LISTA DE ÍCONES</h5>

         <div class="d-flex justify-content-end mb-3">
            <!-- TEMPORARIAMENTE INDISPONÍVEL -->
            <!-- <select class="form-select w-25" [(ngModel)]="categoriaSelected">
               <option [value]="null" disabled selected>Selecione uma categoria</option>
               <option *ngFor="let categoria of categoriasList" [value]="categoria"> {{ categoria }} </option>
            </select> -->
            <input type="text" class="form-control w-25 ms-3" placeholder="Pesquise para filtrar" [(ngModel)]="pesquisa">
         </div>

         <div class="row wrap">
            @for (icone of iconsList | iconFilter:pesquisa:categoriaSelected; track $index) {
               <div class="col-1">
                  <div class="text-center text-primary-hover">
                     <div class="icon-card border rounded border-secondary" (click)="openModal(icone)"> <lib-icon [iconName]="icone.nome" /> </div>
                     <span>{{ icone.nome }}</span>
                  </div>
               </div>
            }
         </div>
      </div>
      <!-- #endregion LISTA DE ÍCONES -->
      
      <!-- #endregion CONTEÚDO - TODO: Trocar para JSON quando estiver pronto -->
   </div>
</div>
