<navbar currentPage="ÍCONES" />

<div class="container-fluid d-flex justify-content-center p-3">
   <div class="w-75 h-100">
      <div class="content-header mb-5 border-bottom">
         <h3 class="fw-bold"> <lib-icon class="cursor-pointer" tooltip="Voltar à pagina anterior" iconName="seta-esquerda" (click)="utilsService.back()" /> ÍCONES </h3>
         <p class="fs-5">Documentação e exemplos de uso dos ícones desenvolvidos pelo Núcleo de Design que devem ser utilizados nos projetos V6</p>
         <version-tags />
      </div>

      <!-- #region CONTEÚDO - TODO: Trocar para JSON quando estiver pronto -->

      <!-- #region INSTALAÇÃO -->
      <instal-instructions />
      <!-- #endregion INSTALAÇÃO -->

      <!-- #region COMO FUNCIONA -->
      <div class="content mb-5">
         <h5 class="fw-bold">COMO FUNCIONA?</h5>

         <span><b>{{"@Input"}}</b> Lista de parâmetros:</span>
         <ul>
            <li class="my-2"><code class="text-code">iconName: string</code> (obrigatório) - Nome do ícone que será renderizado (consulta a lista abaixo ou o Figma para os nomes).</li>
            <li class="my-2"><code class="text-code">iconColor: 'white' | 'blue' | 'gray' | 'light-gray' | 'green' | 'light-blue' | 'yellow' | 'red' | 'currentColor' | string</code> - Cor do ícone. Utilizará um dos temas informados, aceita também a cor em hexadecimal, se nenhuma for informada por padrão utilizará a "currentColor".</li>
            <li class="my-2"><code class="text-code">iconSize: 'default' | 'medium-small' | 'small' | number</code> - Tamanho do ícone que será renderizado. Se não informado assumirá o valor "default".</li>

            <li class="my-2"><code class="text-code">iconFill: string</code> - Cor do preenchimento do ícone (fill).</li>
            <li class="my-2"><code class="text-code">iconStrokeWidth: string</code> - Largura da linha (stroke) do ícone.</li>
         </ul>
      </div>
      <!-- #endregion COMO FUNCIONA -->

      <!-- #region DICAS -->
      <div class="alert alert-warning mb-5" role="alert">
         <p class="fw-bold">AVISOS</p>
         <ul>
            <li>Em breve os ícones antigos ou desnecessários que não estejam no painel do Figma serão depreciados e removidos da biblioteca, o quanto antes deve ser buscado pelo projeto qualquer icone antigo.</li>
            <li>As propriedades <code class="text-code">iconFill</code> e <code class="text-code">iconStrokeWidth</code> serão depreciadas em breve. Verifique a necessidade de utilização destas propriedades e converse com o P&D/ND para decisão do que deve ser feito.</li>
         </ul>

         <span>A remoção destes elementos citados acima ocorrerá no dia 11/09. Sem possibilidade de adiamento!</span>
      </div>
      <!-- #endregion DICAS -->

      <!-- #region LISTA DE ÍCONES -->
      <div class="content mb-5">
         <h5 class="fw-bold mb-3">LISTA DE ÍCONES</h5>

         <div class="d-flex justify-content-end mb-3">
            <!-- TEMPORARIAMENTE INDISPONÍVEL -->
            <!-- <select class="form-select w-25" [(ngModel)]="categoriaSelected">
               <option [value]="null" disabled selected>Selecione uma categoria</option>
               <option *ngFor="let categoria of categoriasList" [value]="categoria"> {{ categoria }} </option>
            </select> -->
            <input type="text" class="form-control w-25 ms-3" placeholder="Pesquise para filtrar" [(ngModel)]="pesquisa">
         </div>

         <div class="row wrap">
            @for (icone of iconsList | iconFilter:pesquisa:categoriaSelected; track $index) {
               <div class="col-1">
                  <div class="text-center text-primary-hover">
                     <div class="icon-card border rounded border-secondary" (click)="openModal(icone)"> <lib-icon [iconName]="icone.nome" /> </div>
                     <span>{{ icone.nome }}</span>
                  </div>
               </div>
            }
         </div>
      </div>
      <!-- #endregion LISTA DE ÍCONES -->
      
      <!-- #endregion CONTEÚDO - TODO: Trocar para JSON quando estiver pronto -->
   </div>
</div>
