@import "../../styles/global.scss";


.menu-item {
   transition: all .5s ease;
}
.menu-item.selected {
   background-color: #0a58ca;
   font-weight: bold;
}
.menu-item:hover {
   background-color: #0a58ca;
   font-weight: bold;
}
