/* You can add global styles to this file, and also import other style files */
@import './app/shared/styles/templates.scss';

/* Importing Datepicker SCSS file. */
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";

/* Importing Toastr SCSS file. */
@import '../node_modules/ngx-toastr/toastr';


// GLOBAL STYLES

// GLOBAL STYLES


/* #region OVERRIDE BOOTSTRAP VARIABLES */

/* #region SPACING */

/* #endregion SPACING */

/* #region THEME COLORS */
$theme-colors: (
  "primary": #3767b2,       // Azul principal
  "secondary": #eee,
  "success": #0F5132,       // Verde principal
  "danger": #B23737,        // Vermelho principal
  "warning": #FFC107        // Amarelo principal
);
/* #endregion THEME COLORS */

/* #region INPUT RELATED COLORS */
$form-check-input-checked-bg-color: #41b237;      // Cor de fundo dos inputs de checkbox quando estão "checked"

label.form-label { font-weight: bold !important; }
/* #endregion INPUT RELATED COLORS */

/* #region BADGES */
.badge.text-bg-primary {
  color: #084298 !important;
  background-color: #d1dfe7 !important;
}
.badge.text-bg-secondary {
  color: #41464b !important;
  background-color: #e2e3e5 !important;
}
.badge.text-bg-success {
  color: #0f5132 !important;
  background-color: #d1e7dd !important;
}
.badge.text-bg-warning {
  color: #664d03 !important;
  background-color: #fff3cd !important;
}
.badge.text-bg-danger {
  color: #842029 !important;
  background-color: #f8d7da !important;
}
.badge.text-bg-info {
  color: #842029 !important;
  background-color: #d1e7e5 !important;
}
/* #endregion BADGES */

/* #region MODALS */
$modal-sm: 700px;
$modal-md: 900px;
$modal-lg: 1200px;
$modal-xl: 1540px;
/* #endregion MODALS */

/* #endregion OVERRIDE BOOTSTRAP VARIABLES */


@import "../node_modules/bootstrap/scss/bootstrap.scss";
// * Import do Bootstrap DEVE estar depois dos overrides, pois nos arquivos internos da biblioteca eles possuem a flag de "!default" junto com os valores.
// * A ideia é que caso um novo valor seja declarado, o que é !default vai ser sobreescrito com esse novo valor,
// * o !default serve só pra definir um valor caso nenhum outro seja declarado explicitamente. Por isso o import do Bootstrap nesse caso deve estar depois dos overrides.
