<div class="content mb-5">
   <h5 class="fw-bold">INSTALAÇÃO</h5>
   <span>Para o uso correto deste componente, certifique-se de:</span>

   <ol>
      <li>Atualizar o diretório 'INFRABIN' no SVN com um <b>SVN Update</b> <i>(esta etapa não será mais necessária após a migração para o git)</i></li>
      <li>No seu projeto Angular: executar o comando <code class="fw-bold">{{ "npm install ngx-sp-infra@latest --force" }}</code> (o --force é necessário até que os pacotes dos projetos estejam totalmente atualizados e compatíveis)</li>
      <li>Certifique-se de que seu componente está importando o <code class="fw-bold">ProjectModule</code></li>
      <li>
         <p class="mb-0">Certifique-se de que seu componente está nas declarations do módulo da sua tela</p>               
         <code-snippet [code]="codeSnippet" language="typescript" />
      </li>
   </ol>
</div>