<navbar currentPage="MODELS/CLASSES" />

<div class="container-fluid d-flex justify-content-center p-3">
   <div class="w-75 h-100">
      <div class="content-header mb-5 border-bottom">
         <h3 class="fw-bold pb-1"> Models/Classes utilizados nos projetos V6 </h3>
         <p class="fs-5 mb-0">Padrões de nomenclaturas de classes, records, propriedades, e outros tipos de dados utilizados nos projetos V6</p>
         <version-tags />
      </div>

      <!-- #region CONTEUDO - TODO: Trocarei para JSON quando estiver pronto -->
      <div class="d-flex flex-row flex-wrap gap-4 justify-content-center">

      </div>
      <!-- #endregion CONTEUDO - TODO: Trocarei para JSON quando estiver pronto -->
   </div>
</div>
